.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // 이 부분 추가
  flex-grow: 1;
  background-color: #33363d;
  height: 100vh;

  .chatMessage {
    flex-grow: 1; // 이 부분 추가
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
  }

  .chatInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #474b53;
    border-radius: 5px;
    margin: 20px; // 여기에 px 단위 추가
    color: lightgray;

    form {
      flex-grow: 1;
      input {
        padding: 15px;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: large;
        width: 100%;
      }
      .chatInputButton {
        display: none;
      }
    }
    .chatInputIcons {
      .MuiSvgIcon-root {
        padding: 5px;
      }
    }
  }
}
